body{
    background-color: #2374ba;
    margin: 0px;
    margin-left: 50px;
    font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.todo{
	background-color: white;
	width: 957px;
	height: 1368px;
}

.datos{
	background-color: #f2f2f2;
	float: left;
	width: 230px;
	height: 1368px;
	padding: 10px;
}
.sobre{
	background-color: white;
	float:left;
	width: 687px;
	height:1368px;
	padding: 10px;
}
h1{
	color: #2374ba;
}
h3{
	color: #2374ba;
	font-size: 20px;

}
a{
	text-decoration:none;
	color:#2374ba;
}
img{
	padding: 3px;
}
hr{
	color: white;
}
.cara{
	padding: 25px;
	float: center;
	width: 175px;
	background-image: linear-gradient(gray,#f2f2f2,#f2f2f2);
	border-radius: 50%;
}
.formulario{
  width: 400px;
  padding: 10px;
  margin: auto;
  border-radius: 4px;
  font-family: Helvetica;

  }
  .controls{
    width: 93%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border:1px solid #1f53c5;
    color:black;
  }
  .botons{
    width: 100%;
    background:#1f53c5;
    border:none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    color: white;

  }
